CompileFlags:
  Compiler: cl
  Add:
    - /std:c++17
    - /utf-8
    - /I
    - "C:/Program Files (x86)/Microsoft Visual Studio/2019/BuildTools/VC/Tools/MSVC/14.29.30133/include"
    - /I
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.19041.0/ucrt"
    - /I
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.19041.0/um"
    - /I
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.19041.0/shared"
    - /I
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.19041.0/winrt"
    - /I
    - "C:/Users/admin/Desktop/exam_sdk/sdk/include"
    - /DWIN32
    - /D_WINDOWS
    - /DUNICODE
    - /D_UNICODE
